[class*='--cover'] img,
[class*='--cover'] video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}
[class*='--contain'] img,
[class*='--contain'] video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}
.rate,
.level {
  font-size: 0.75rem; /* 12/16 */
  line-height: 1.333;
  font-weight: 600;
  padding-block: 0.25rem; /* 4/16 */
  background-color: var(--meanings-card-rate-bg);
  color: var(--meanings-card-text);
  border-radius: 0.75rem; /* 12/16 */
}
.rate {
  padding-inline: 0.375rem; /* 6/16 */
}
.level {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.3125rem; /* 5/16 */
  padding-inline: 0.5625rem; /* 9/16 */
}
.level__dot {
  inline-size: 0.5625rem;
  flex-basis: 0.5625rem;
  aspect-ratio: 1;
  flex-shrink: 0;
  border-radius: 50%;
}
.level__dot--green {
  background: var(--success-500);
}
.level__dot--yellow {
  background: var(--warning-500);
}
.level__dot--red {
  background: var(--error-500);
}
@media (any-hover: hover) {
  [class*='--img-hover'] img {
    transition: filter 0.3s ease;
  }

  [class*='--img-hover']:hover img {
    filter: var(--hover-icon);
  }
  [class*='--img-hover']:active img {
    filter: none;
  }
}
