[class*='--cover'] img,
[class*='--cover'] video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}
[class*='--contain'] img,
[class*='--contain'] video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}
.header-section--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem; /* 16/16 */
}
.header-section__content {
  display: flex;
  align-items: center;
  column-gap: 1rem; /* 16/16 */
}
.header-section__title {
  font-size: 2.625rem; /* 42/16 */
  font-weight: 600;
  line-height: 1.24;
}
.header-section__btn {
  inline-size: 1.6875rem; /* 27/16 */
  aspect-ratio: 27 / 21;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-section__btn svg {
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}
.header-section__btn svg path {
  fill: var(--gray-500);
}
.header-section__info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem; /* 8/16 */
}
.header-section__rate,
.header-section__level {
  font-size: 1rem; /* 16/16 */
  line-height: 1.63;
  padding-inline: 0.75rem; /* 12/16 */
  padding-block: 0.375rem; /* 6/16 */
  border-radius: 62.5rem; /* 1000/16 */
}
.rate,
.level {
  font-size: 0.75rem; /* 12/16 */
  line-height: 1.333;
  font-weight: 600;
  padding-block: 0.25rem; /* 4/16 */
  background-color: var(--meanings-card-rate-bg);
  color: var(--meanings-card-text);
  border-radius: 0.75rem; /* 12/16 */
  position: relative;
  cursor: pointer;
}
.rate::after,
.level::after {
  content: '';
  position: absolute;
  inset-block-start: calc(100% + 0.5rem);
  inset-inline-start: 50%;
  transform: translateX(-50%) rotate(45deg);
  inline-size: 1rem;
  block-size: 1rem;
  background: var(--meanings-card-background-active);
  z-index: 2;
  visibility: hidden;
  transition: visibility 0.3s;
}
.rate {
  padding-inline: 0.75rem; /* 12/16 */
}
.rate__tooltip {
  padding: 1rem;
  position: absolute;
  inset-block-start: calc(100% + 1rem);
  inset-inline-end: -3.75rem;
  inline-size: 22.125rem;
  background: var(--meanings-card-background-active);
  border-radius: 1rem; /* 16/16 */
  z-index: 2;
  visibility: hidden;
  transition: visibility 0.3s;
}
.rate__title {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.33;
  text-align: center;
  color: var(--primary-text-color);
  margin-block-end: 0.25rem; /* 4/16 */
}
.rate__text {
  font-weight: 400;
  font-size: 0.875rem; /* 14/16 */
  line-height: 1.43;
  text-align: center;
  color: var(--primary-text-color);
  margin-block-end: 1.5rem; /* 24/16 */
}
.rate__table {
  font-weight: 400;
  font-size: 0.75rem; /* 12/16 */
  line-height: 1.33;
  margin-block-end: 0.75rem; /* 12/16 */
}
.rate__table thead {
  margin-block-end: 0.25rem; /* 4/16 */
}
.rate__table tr {
  display: grid;
  grid-template-columns: 109fr repeat(3, 71fr);
  align-items: center;
}
.rate__table tbody {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem; /* 5/16 */
  margin-block-end: 0.4375rem; /* 7/16 */
}
.rate__table tbody tr {
  position: relative;
}
.rate__table tbody tr::before {
  content: '';
  position: absolute;
  inset-block-start: 0.0625rem;
  inset-inline-start: 6.0625rem;
  border-radius: 6.25rem;
  block-size: calc(100% - 0.125rem);
  background: var(--meanings-card-rate-bg);
}
.rate__table tbody tr:nth-child(1):before {
  inline-size: 14.5rem;
}
.rate__table tbody tr:nth-child(2):before {
  inline-size: 7.5625rem;
}
.rate__table tbody tr:nth-child(3):before {
  inline-size: 0.75rem;
}
.rate__table tbody tr:nth-child(4):before {
  inline-size: 1.9375rem;
}
.rate__table tbody tr:nth-child(5):before {
  inline-size: 0.25rem;
}
.rate__table tr th:not(:first-child),
.rate__table tr td {
  justify-self: end;
}
.rate__table tfoot {
  color: var(--primary-text-color);
}
.rate__result {
  font-weight: 600;
  padding-block: 0.25rem; /* 4/16 */
  padding-inline: 0.75rem; /* 12/16 */
  border-radius: 0.75rem;
  background: var(--meanings-card-rate-bg);
  transform: translateX(0.75rem);
}
.rate__links {
  text-align: center;
  font-weight: 400;
  font-size: 0.75rem; /* 12/16 */
  line-height: 1.33;
  text-align: center;
  color: var(--primary-text-color);
  text-underline-offset: 0.25rem;
}
.rate__links a {
  text-decoration: underline;
}
.level__tooltip {
  color: var(--primary-text-color);
  position: absolute;
  inset-block-start: calc(100% + 1rem);
  inset-inline-end: -3.75rem;
  inline-size: 22.125rem;
  padding: 1rem; /* 16/16 */
  background: var(--meanings-card-background-active);
  border-radius: 1rem; /* 16/16 */
  text-align: center;
  z-index: 2;
  visibility: hidden;
  transition: visibility 0.3s;
}
.level__title {
  font-weight: 600;
  font-size: 1.125rem; /* 18/16 */
  line-height: 1.33;
  text-align: center;
  margin-block-end: 0.25rem; /* 4/16 */
}
.level__text {
  font-size: 0.875rem; /* 14/16 */
  line-height: 1.43;
  font-weight: 400;
  margin-block-end: 1rem; /* 16/16 */
}
.level__text p:not(:last-child),
.rate__text p:not(:last-child) {
  margin-block-end: 0.5rem; /* 8/16 */
}
.level__difficulty {
  block-size: 3.75rem; /* 60/16 */
  position: relative;
}
.level__point {
  position: absolute;
  inset-inline-start: 14.375rem; /* 229/16 */
  inset-block-start: 0;
  inline-size: 3.0156rem;
  block-size: 1.5rem; /* 24/16 */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem; /* 4/16 */
  border-radius: 0.75rem; /* 12/16 */
  background: var(--meanings-card-rate-bg);
  padding-block: 0.375rem; /* 6/16 */
  padding-inline: 0.375rem 0.5rem; /* 6/16 */
  font-size: 0.75rem; /* 12/16 */
  line-height: 1.33;
}
.level__arrow--bottom {
  content: '';
  position: absolute;
  inset-block-start: 100%;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  inline-size: 1.3125rem;
  block-size: 0.5625rem;
  aspect-ratio: 21 / 9;
}
.level__arrow--bottom svg {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}
.level__arrow--bottom svg path {
  fill: var(--meanings-card-rate-bg);
}
.level__dot {
  inline-size: 0.5rem; /* 9/16 */
  block-size: 0.5rem; /* 9/16 */
  flex-basis: 0.5rem; /* 9/16 */
  flex-shrink: 0;
  border-radius: 50%;
}
.level__line {
  position: absolute;
  inset-block-start: 33px;
  inset-inline-start: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 0.5625rem; /* 9/16 */
  position: relative;
}
.level__ticks {
  inline-size: 100%;
  block-size: 0.0625rem;
  background: var(--meanings-card-text);
}
.level__tick {
  position: absolute;
  inset-block-start: 50%;
  transform: translateY(-50%);
  inline-size: 0.0625rem;
  block-size: 0.5625rem;
  border-radius: 0.375rem;
  background: var(--meanings-card-text);
}
.level__tick:nth-of-type(1) {
  inset-inline-start: 0;
}
.level__tick:nth-of-type(2) {
  inset-inline-start: 6.6875rem;
}
.level__tick:nth-of-type(3) {
  inset-inline-start: 13.375rem;
}
.level__tick:nth-of-type(4) {
  inset-inline-end: 0;
}
.level__numbers {
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.33;
  color: var(--meanings-card-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.level__numbers span {
  position: absolute;
  inset-block-end: 0;
}
.level__numbers span:nth-of-type(1) {
  inset-inline-start: 0;
}
.level__numbers span:nth-of-type(2) {
  inset-inline-start: 6.1625rem;
}
.level__numbers span:nth-of-type(3) {
  inset-inline-start: 12.8481rem;
}
.level__numbers span:nth-of-type(4) {
  inset-inline-end: 0;
}
.level__labels {
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem; /* 12/16 */
  line-height: 1.33;
  font-weight: 400;
}
.level__labels span {
  position: absolute;
  inset-block-end: 0;
}
.level__labels span:nth-of-type(1) {
  inset-inline-start: 43.82px;
  color: var(--success-500);
}
.level__labels span:nth-of-type(2) {
  inset-inline-start: 138px;
  color: var(--warning-500);
}
.level__labels span:nth-of-type(3) {
  inset-inline-start: 253.19px;
  color: var(--error-500);
}
.level {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.3125rem; /* 5/16 */
  padding-inline: 0.5625rem; /* 9/16 */
}
.level__dot {
  inline-size: 0.5625rem;
  flex-basis: 0.5625rem;
  aspect-ratio: 1;
  flex-shrink: 0;
  border-radius: 50%;
}
.level__dot--green {
  background: var(--success-500);
}
.level__dot--yellow {
  background: var(--warning-500);
}
.level__dot--red {
  background: var(--error-500);
}
@media (max-width: 479.98px) {
  .header-section__title {
    font-size: 1.5rem; /* 24/16 */
    line-height: 1.25;
  }
  .header-section__rate,
  .header-section__level {
    font-size: 0.75rem;
    line-height: 1.33;
    padding-block: 0.25rem; /* 4/16 */
  }
}
@media (min-width: 991.98px) {
  .level:hover .level__tooltip,
  .rate:hover .rate__tooltip,
  .rate:hover::after,
  .level:hover::after {
    visibility: visible;
  }
}
@media (any-hover: hover) {
  [class*='--img-hover'] img {
    transition: filter 0.3s ease;
  }

  [class*='--img-hover']:hover img {
    filter: var(--hover-icon);
  }
  [class*='--img-hover']:active img {
    filter: none;
  }
}
