.footer {
  background: var(--footer-background);
}
.footer__container {
  padding-block: 3.375rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1.5rem; /* 24/16 */
}
.footer__content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem; /* 20/16 */
}
.footer__title {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5rem; /* 24/16 */
  row-gap: 0.5rem; /* 8/16 */
  color: var(--footer-title-color);
  font-size: 1.25rem; /* 20/16 */
  line-height: 1.6; /* 32/20 */
  font-weight: 600;
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5rem; /* 24/16 */
  row-gap: 0.5rem; /* 8/16 */
  color: var(--footer-text-color);
  line-height: 1.38; /* 22/16 */
}
.footer__image {
  display: flex;
  column-gap: 1.25rem; /* 20/16 */
  max-inline-size: 20.125rem; /* 322/16 */
}
.footer__qr {
  inline-size: 4.625rem; /* 74/16 */
  flex-basis: 4.625rem; /* 74/16 */
  flex-shrink: 0;
  aspect-ratio: 1;
  align-self: flex-start;
}
.footer__body {
}
.footer__logo {
  inline-size: 5.6875rem; /* 91/16 */
  aspect-ratio: 91 / 35;
  margin-block-end: 0.75rem; /* 12/16 */
}
.footer__text {
  font-size: 0.6875rem; /* 11/16 */
  line-height: 1.333; /* 16/12 */
  color: var(--footer-title-color);
  font-weight: 500;
}
.footer__text p:not(:last-child) {
  margin-block-end: 0.5rem; /* 8/16 */
}
@media (any-hover: hover) {
  .footer__list a {
    transition: color 0.3s;
  }
  .footer__list a:hover {
    color: var(--footer-title-color);
  }
}
