body {
  color: var(--primary-text-color);
  font-family: var(--font-family);
  background-color: var(--primary-background-color);
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

[class*='__container'] {
  max-width: var(--global-max-width);
  margin-inline: auto;
  padding-inline: var(--container-padding-inline);
}
