.search-bar-open body {
  overflow: hidden;
}

.header {
  position: sticky;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: 50;
  background: var(--header-background);
}
.header__container {
  padding-block: 1.5rem; /* 24/16 */
  column-gap: 1.5rem; /* 24/16 */
  display: grid;
  align-items: center;
}
.header__logo {
  inline-size: 14.0625rem; /* 225/16 */
  aspect-ratio: 225 / 48;
}
.header__logo a {
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}

.search-header__input {
  border-radius: 1.5rem; /* 24/16 */
  position: relative;
  justify-self: center;
  max-inline-size: 48.375rem; /* 774/16 */
  inline-size: 100%;
}
.search-header__input label {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 1rem; /* 16/16 */
  transform: translateY(-50%);
  display: inline-block;
  inline-size: 1.5rem; /* 24/16 */
  aspect-ratio: 1;
  padding: 0.0938rem;
  cursor: pointer;
}
.search-header__input input {
  border-radius: 1.5rem; /* 24/16 */
  inline-size: 100%;
  max-inline-size: 48.375rem; /* 774/16 */
  padding-block: 0.75rem; /* 12/16 */
  padding-inline: 2.875rem 0.875rem;
  background: var(--overlay-gray-10);
  color: var(--header-input-text);
  font-size: 1.0625rem; /* 17/16 */
  line-height: 1.29;
}
.search-header__input input::placeholder {
  color: var(--overlay-gray-60);
}
.actions {
  display: flex;
  align-items: center;
  column-gap: 1.6875rem; /* 27/16 */
  justify-self: end;
}
.dark-light-mode {
  position: relative;
  inline-size: 3.5rem; /* 56/16 */
  aspect-ratio: 2 / 1;
  border-radius: 6.25rem;
  overflow: hidden;
  background: var(--overlay-gray-10);
  display: flex;
  align-items: center;
}
.dark-light-mode::before {
  content: '';
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 0;
  inline-size: 1.75rem; /* 28/16 */
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--primary-650);
}
.light-mode .dark-light-mode::before {
  inset-inline-start: 0;
}
.dark-light-mode__sun,
.dark-light-mode__moon {
  position: relative;
  inline-size: 1.75rem; /* 28/16 */
  block-size: 1.75rem; /* 28/16 */
  cursor: pointer;
}
.dark-light-mode__sun {
  padding: 0.4063rem;
}
.dark-light-mode__sun svg path {
  fill: var(--sun-color);
}
.dark-light-mode__moon {
  padding: 0.375rem 0.5rem;
}
.dark-light-mode__moon svg path {
  fill: var(--moon-color);
}
.dark-light-mode svg {
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}
@media (min-width: 767.98px) {
  .header__container {
    grid-template-columns: auto 1fr auto;
  }
  .actions,
  .search-header__close,
  .search-header__list {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .dark-light-mode {
    display: none;
  }
  .header__container {
    grid-template-columns: auto 1fr;
  }
  .actions__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 1.5rem; /* 24/16 */
    aspect-ratio: 1;
    flex-shrink: 0;
    inline-size: 1.5rem; /* 24/16 */
    block-size: 1.5rem; /* 24/16 */
  }
  .actions__btn--search {
    padding: 0.0938rem;
  }
  .actions__btn--menu {
    padding-block: 0.2813rem;
    padding-inline: 0.6563rem;
  }
  .search-header__body {
    block-size: 100%;
  }
  .search-header__list {
    overflow-y: auto;
    block-size: 100%;
  }
  .search-header__list li {
    padding-block: 0.5rem; /* 8/16 */
    border-block-end: 0.0625rem solid var(--header-input-border);
  }
  .search-header__list li:last-child {
    border-block-end: 0.0625rem solid transparent;
  }
  .search-header__list li:first-child .search-header__title {
    display: flex;
    align-items: center;
    column-gap: 0.5rem; /* 8/16 */
  }
  .search-header__list li:first-child .search-header__title::before {
    content: '';
    inline-size: 0.9375rem;
    block-size: 0.8125rem;
    background: url('../img/icons/sprint.svg') 0 0 / contain no-repeat;
  }
  .search-header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem; /* 16/16 */
    margin-block-end: 0.1875rem; /* 3/16 */
  }

  .search-header__title {
    color: var(--header-input-list);
    line-height: 1.5;
  }

  .search-header__text,
  .search-header__meanings {
    color: var(--footer-text-color);
    font-size: 0.75rem; /* 12/16 */
    line-height: 1.333;
  }
  .search-header {
    position: fixed;
    inset-inline-start: 0;
    inset-block-start: 0;
    z-index: 100;
    inline-size: 100%;
    block-size: 100%;
    background: var(--header-background);
    padding-inline: 1rem; /* 16/16 */
    padding-block: 4.25rem; /* 68/16 */
    opacity: 0;
    visibility: hidden;
  }
  .search-bar-open .search-header {
    opacity: 1;
    visibility: visible;
  }
  .search-header__input {
    margin-block-end: 1rem; /* 16/16 */
  }
  .search-header__close {
    position: absolute;
    inset-block-start: 1.375rem; /* 22/16 */
    inset-inline-end: 1rem; /* 16/16 */
    inline-size: 1.5rem; /* 24/16 */
    block-size: 1.5rem; /* 24/16 */
    padding: 0.4063rem;
  }
}
@media (max-width: 479.98px) {
  .header__logo {
    inline-size: 8.25rem; /* 132/16 */
  }
}
