.header {
  background: var(--header-background);
}
.header__container {
  padding-block: 1.5rem; /* 24/16 */
  column-gap: 1.5rem; /* 24/16 */
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}
.header__logo {
  inline-size: 14.0625rem; /* 225/16 */
  aspect-ratio: 225 / 48;
}
.header__logo a {
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}

.header__input {
  border-radius: 1.5rem; /* 24/16 */
  position: relative;
  justify-self: center;
  max-inline-size: 48.375rem; /* 774/16 */
  inline-size: 100%;
}
.header__input label {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 1rem; /* 16/16 */
  transform: translateY(-50%);
  display: inline-block;
  inline-size: 1.5rem; /* 24/16 */
  aspect-ratio: 1;
  padding: 0.0938rem;
  cursor: pointer;
}
.header__input input {
  border-radius: 1.5rem; /* 24/16 */
  inline-size: 100%;
  max-inline-size: 48.375rem; /* 774/16 */
  padding-block: 0.75rem; /* 12/16 */
  padding-inline: 2.875rem 0.875rem;
  background: var(--overlay-gray-10);
  color: var(--header-input-text);
  font-size: 1.0625rem; /* 17/16 */
  line-height: 1.29;
}
.header__input input::placeholder {
  color: var(--overlay-gray-60);
}
.dark-light-mode {
  position: relative;
  inline-size: 3.5rem; /* 56/16 */
  aspect-ratio: 2 / 1;
  border-radius: 6.25rem;
  overflow: hidden;
  background: var(--overlay-gray-10);
  display: flex;
  align-items: center;
}
.dark-light-mode::before {
  content: '';
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 0;
  inline-size: 1.75rem; /* 28/16 */
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--primary-650);
}
.light-mode .dark-light-mode::before {
  inset-inline-start: 0;
}
.dark-light-mode__sun,
.dark-light-mode__moon {
  position: relative;
  inline-size: 1.75rem; /* 28/16 */
  block-size: 1.75rem; /* 28/16 */
  cursor: pointer;
}
.dark-light-mode__sun {
  padding: 0.4063rem;
}
.dark-light-mode__sun svg path {
  fill: var(--sun-color);
}
.dark-light-mode__moon {
  padding: 0.375rem 0.5rem;
}
.dark-light-mode__moon svg path {
  fill: var(--moon-color);
}
.dark-light-mode svg {
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}
