
.meanings__list {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* 16/16 */
}

.card-meanings {
  border-radius: 1.125rem; /* 18/16 */
  overflow: hidden;
}
.card-meanings__list {
  max-block-size: 41.1875rem;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.card-meanings__list::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.card-meanings__list::-webkit-scrollbar {
  display: none;
}
.card-meanings__header {
  background: var(--meanings-card-background);
  padding-block: 1.375rem; /* 22/16 */
  padding-inline: 1.25rem; /* 20/16 */
  color: var(--meanings-title);
  display: flex;
  column-gap: 1rem; /* 16/16 */
  justify-content: space-between;
  align-items: center;
}
.card-meanings__title {
  font-weight: 600;
  font-size: 1.125rem; /* 18/16 */
  line-height: 1.33;
}
.card-meanings__header button {
  inline-size: 1.75rem; /* 28/16 */
  aspect-ratio: 1;
  flex-basis: 1.75rem; /* 28/16 */
  flex-shrink: 0;
  border: 0.125rem solid var(--meanings-plus-minus);
  border-radius: 50%;
  position: relative;
}
.card-meanings__header button::after,
.card-meanings__header button::before {
  content: '';
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
  background: var(--meanings-plus-minus);
  border-radius: 0.5rem;
}
.card-meanings__header button::before {
  inline-size: 0.75rem;
  block-size: 0.125rem;
}
.card-meanings__header button::after {
  inline-size: 0.125rem;
  block-size: 0.75rem;
  transition: block-size 0.3s;
}
.card-meanings__header.active button::after {
  block-size: 0;
}
.card-meanings__list li a {
  display: block;
  background: var(--meanings-card-background);
  padding-inline: 1.25rem; /* 20/16 */
  position: relative;
  cursor: pointer;
  transition: background 0.3s;
}
.card-meanings__list li a.active {
  background: var(--meanings-card-background-active);
}
.card-meanings__list li a::before {
  content: '';
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 0.375rem; /* 6/16 */
  block-size: 100%;
  background: var(--primary-600);
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s,
    visibility 0.3s;
}
.card-meanings__list li a.active::before {
  opacity: 1;
  visibility: visible;
}
.card-meanings__list li article {
  display: grid;
  grid-template-columns: auto auto 1fr;
  column-gap: 0.5rem; /* 8/16 */
  padding-block: 0.625rem 0.6875rem;
  border-block-start: 0.0625rem solid var(--meanings-border);
  transition: border-block-start 0.3s;
}
.card-meanings__list li:first-child article,
.card-meanings__list li:nth-child(2) article {
  border-block-start: 0.0625rem solid transparent;
}
.card-meanings__image {
  inline-size: 1.125rem; /* 18/16 */
  aspect-ratio: 1;
}

.card-meanings__content h3 {
  line-height: 1.5;
  color: var(--meanings-title);
}
.card-meanings__text {
  color: var(--meanings-card-text);
  line-height: 1.333;
  font-size: 0.75rem; /* 12/16 */
}
.card-meanings__info {
  display: flex;
  column-gap: 0.5rem; /* 8/16 */
  justify-self: end;
  align-self: start;
}
.card-meanings__rate,
.card-meanings__level {
  font-size: 0.75rem; /* 12/16 */
  line-height: 1.333;
  font-weight: 600;
  padding-block: 0.25rem; /* 4/16 */
  background: var(--meanings-card-rate-bg);
  color: var(--meanings-card-text);
  border-radius: 0.75rem; /* 12/16 */
  padding-inline: 0.5625rem; /* 9/16 */
}
.card-meanings__level {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.3125rem; /* 5/16 */
}
.card-meanings__dot {
  inline-size: 0.5625rem;
  flex-basis: 0.5625rem;
  aspect-ratio: 1;
  flex-shrink: 0;
  border-radius: 50%;
}
.card-meanings__dot--green {
  background: var(--success-500);
}
.card-meanings__dot--yellow {
  background: var(--warning-500);
}
.card-meanings__dot--red {
  background: var(--error-500);
}
.panel__image {
  max-inline-size: 21.3125rem; /* 341/16 */
}
.panel__image img {
  border-radius: 1.125rem; /* 18/16 */
}
.words {
  border-radius: 1.125rem; /* 18/16 */
  overflow: hidden;
  background: var(--meanings-card-background);
}
.words__header {
  padding-block: 1.25rem; /* 20/16 */
  padding-inline: 1rem; /* 16/16 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem; /* 16/16 */
}
.words__label {
  font-weight: 600;
  font-size: 1.125rem; /* 18/16 */
  line-height: 1.33;
}
.words__arrow {
  inline-size: 1.75rem; /* 28/16 */
  flex-basis: 1.75rem; /* 28/16 */
  flex-shrink: 0;
  aspect-ratio: 1;
  padding: 0.2813rem;
}
.words__arrow svg {
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}
.words__arrow svg path {
  stroke: var(--primary-text-color);
}
.words__list {
  max-block-size: 8.125rem; /* 130/16 */
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.words__list::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.words__list::-webkit-scrollbar {
  display: none;
}
.words__list a {
  display: block;
  line-height: 1.63;
  padding-inline: 1rem; /* 16/16 */
  transition: background 0.3s;
}
.words__list li a p {
  padding-block: 0.5rem; /* 8/16 */
  border-block: 0.0625rem solid transparent;
}
.words__list li:not(:last-child) a p {
  border-block-end: 0.0625rem solid var(--meanings-border);
}
.panel__section {
  display: flex;
  flex-direction: column;
  row-gap: 1rem; /* 16/16 */
}
.panel__footer {
  max-inline-size: 21.3125rem; /* 341/16 */
  background: var(--meanings-card-background);
  padding-inline: 1.25rem; /* 20/16 */
  padding-block: 1rem;
  border-radius: 1.125rem; /* 18/16 */
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.5rem; /* 8/16 */
}
.panel__footer h3 {
  font-size: 1.5rem; /* 24/16 */
  line-height: 1.33;
  font-weight: 600;
}
.panel__text {
  line-height: 1.63;
  color: var(--meanings-card-text);
}
.panel__footer button {
  position: relative;
  inline-size: 3rem; /* 48/16 */
  aspect-ratio: 1;
  background: var(--primary-600);
  border-radius: 50%;
  transition: background 0.3s;
}
.panel__footer button::after,
.panel__footer button::before {
  content: '';
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
  background: var(--panel-plus-minus);
  border-radius: 0.5rem;
}
.panel__footer button::before {
  inline-size: 1rem;
  block-size: 0.125rem;
}
.panel__footer button::after {
  inline-size: 0.125rem;
  block-size: 1rem;
  transition: block-size 0.3s;
}
.panel__footer.active button::after {
  block-size: 0;
}
.home-hero__home-content {
  max-inline-size: 48.3125rem; /* 773/16 */
}
.home-content__section--margin-bottom,
.etymology--margin-bottom {
  margin-block-end: 1.5rem; /* 24/16 */
}
.examples-block--margin-bottom,
.fast--margin-bottom,
.surface--margin-bottom,
.home-content__hero-swiper {
  margin-block-end: 2.5rem; /* 40/16 */
}
.home-content__header-section,
.header-section__content--margin-bottom {
  margin-block-end: 1rem; /* 16/16 */
}

.home-content__btn {
  font-weight: 700;
  line-height: 1.38;
  background: var(--primary-600);
  color: var(--gray-50);
  border-radius: 6.25rem;
  padding-block: 0.75rem; /* 12/16 */
  padding-inline: 1.375rem; /* 22/16 */
  transition: background 0.3s;
}
.sounds {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1.25rem; /* 20/16 */
  row-gap: 0.5rem; /* 8/16 */
  color: var(--meanings-card-text);
}
.sounds__grammer {
  font-weight: 600;
  line-height: 1.63;
}
.sounds__item {
  display: flex;
  column-gap: 0.5rem; /* 8/16 */
  align-items: center;
}
.sounds__language {
  line-height: 1.63;
  font-weight: 600;
}
.sounds__btn {
  inline-size: 1.25rem; /* 20/16 */
  flex-basis: 1.25rem; /* 20/16 */
  flex-shrink: 0;
  aspect-ratio: 20 / 16;
}
.sounds__btn svg {
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}
.sounds__btn svg path {
  fill: var(--meanings-card-text);
  transition: fill 0.3s;
}
.sounds__transcription {
  font-size: 0.875rem; /* 14/16 */
  line-height: 1.43;
}
.home-content__sounds,
.home-content__region,
.home-content__list {
  margin-block-end: 1rem; /* 16/16 */
}
.home-content__sentence {
  font-size: 1.5rem; /* 24/16 */
  font-weight: 600;
  line-height: 1.333;
  margin-block-end: 1rem; /* 16/16 */
}
.home-content__region {
  color: var(--meanings-card-text);
  line-height: 1.63;
}
.region {
  display: flex;
  align-items: center;
  column-gap: 0.375rem; /* 6/16 */
}
.region__icon {
  inline-size: 1rem; /* 16/16 */
  flex-basis: 1rem; /* 16/16 */
  block-size: 1rem; /* 16/16 */
  aspect-ratio: 1;
  flex-shrink: 0;
}
.region__country span {
  text-decoration: underline dotted;
  text-underline-offset: 0.3125rem;
}
.home-content__list {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem; /* 8/16 */
  line-height: 1.63;
}
.home-content__list li {
  position: relative;
  padding-inline-start: 1rem; /* 16/16 */
}
.home-content__list li:before {
  content: '';
  position: absolute;
  inset-inline-start: 0.125rem;
  inset-block-start: 0.625rem;
  inline-size: 0.25rem; /* 4/16 */
  block-size: 0.25rem; /* 4/16 */
  aspect-ratio: 1;
  background-color: var(--primary-text-color);
  border-radius: 50%;
}
.home-content__line {
  background: var(--meanings-card-rate-bg);
  line-height: 1.63;
  color: var(--gray-500);
  padding-block: 0.125rem; /* 2/16 */
  padding-inline: 0.5rem; /* 8/16 */
  margin-block-end: 1rem; /* 16/16 */
}
.home-content__line a {
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 0.3125rem;
  transition: color 0.3s;
}
.home-content__line a:hover {
  color: var(--primary-text-color);
}
.home-content__example {
  display: flex;
  gap: 0.5rem; /* 8/16 */
}
.home-content__example > span {
  font-size: 0.75rem; /* 12/16 */
  line-height: 1.333;
  color: var(--meanings-card-text);
  background: var(--meanings-card-background-active);
  padding-block: 0.125rem; /* 2/16 */
  padding-inline: 0.375rem; /* 6/16 */
  border-radius: 0.125rem; /* 2/16 */
  align-self: flex-start;
}
.home-content__example p {
  align-self: center;
}
.hero-swiper {
  background: var(--swiper-bg);
  border-radius: 1.125rem; /* 18/16 */
}
.hero-swiper__swiper-slide {
  max-inline-size: 48.3125rem; /* 773/16 */
  inline-size: 100% !important;
}

.hero-swiper__iframe {
  max-inline-size: 48.3125rem; /* 773/16 */
  aspect-ratio: 773 / 435;
  margin-block-end: 1.25rem; /* 20/16 */
}
.hero-swiper__iframe iframe {
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
  border-top-left-radius: 1rem; /* 16/16 */
  border-top-right-radius: 1rem; /* 16/16 */
}
.hero-swiper__text {
  padding-inline: 1.25rem; /* 20/16 */
  font-weight: 600;
  font-size: 1.5rem; /* 24/16 */
  line-height: 1.33;
}
.hero-swiper__text strong {
  color: var(--primary-300);
  font-weight: 600;
}
.hero-swiper__text p:not(:last-child) {
  margin-block-end: 0.5rem; /* 8/16 */
}
.swiper-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem; /* 8/16 */
  padding-block: 1.25rem; /* 20/16 */
  padding-inline: 1.25rem; /* 20/16 */
}
.swiper-actions__body {
  display: inline-flex;
  column-gap: 1.25rem; /* 20/16 */
  align-items: center;
}
.swiper-actions__arrow {
  flex-basis: 2.25rem; /* 36/16 */
  flex-shrink: 0;
  inline-size: 2.25rem; /* 36/16 */
  cursor: pointer;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--meanings-card-background-active);
  transition: background 0.3s;
}
.swiper-actions__arrow svg path {
  fill: var(--primary-text-color);
}

.swiper-actions__pagination {
  flex-shrink: 0;
  inline-size: fit-content;
  line-height: 1.63;
}
.swiper-actions__action {
  display: flex;
  column-gap: 0.75rem; /* 12/16 */
  align-items: center;
}
.swiper-actions__text {
  line-height: 1.63;
  color: var(--meanings-card-text);
  text-shadow: var(--swiper-autoplay-text-shadow);
}
.swiper-actions__autoplay {
  inline-size: 2.25rem; /* 36/16 */
  block-size: 1.125rem; /* 18/16 */
  border-radius: 0.625rem;
  background: var(--primary-background-color);
  padding: 0.1875rem;
  position: relative;
  cursor: pointer;
}
.swiper-actions__autoplay::before {
  content: '';
  position: absolute;
  inset-block-start: 50%;
  transform: translateY(-50%);
  inset-inline-end: 0.125rem;
  inline-size: 0.875rem; /* 14/16 */
  border-radius: 50%;
  aspect-ratio: 1;
  background: var(--primary-600);
}
.fast,
.examples-block,
.surface,
.etymology {
  background: var(--meanings-card-background);
  padding-block: 1rem 1.5rem; /* 24/16 */
  padding-inline: 1.5rem; /* 24/16 */
  border-radius: 1.125rem; /* 18/16 */
}
.examples-block__header {
  font-weight: 600;
  font-size: 1.5rem; /* 24/16 */
  line-height: 1.33;
  margin-block-end: 0.75rem; /* 12/16 */
}
.examples-block__tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.625rem; /* 10/16 */
  line-height: 1.63;
  color: var(--meanings-title);
}
.examples-block__tags button {
  min-inline-size: 3.125rem; /* 50/16 */
  text-align: center;
  border-radius: 3.125rem;
  padding-block: 0.25rem; /* 4/16 */
  padding-inline: 0.75rem; /* 12/16 */
  background: var(--examples-tags-bg);
}
.examples-block__tags button.active {
  background: var(--examples-tags-bg-active);
  color: var(--examples-tags-color-active);
}
.examples-block__title,
.etymology__title,
.surface__title {
  font-weight: 600;
  font-size: 1.5rem; /* 24/16 */
  line-height: 1.33;
  color: var(--meanings-title);
}
.examples-block__list {
  line-height: 1.63;
}
.examples-block__list li {
  padding-block: 1rem; /* 16/16 */
}
.examples-block__list li {
  display: flex;
  flex-direction: column;
  row-gap: 0.125rem; /* 2/16 */
}
.examples-block__list li:not(:last-child) {
  border-block-end: 0.0625rem solid var(--examples-border-bg);
}
.examples-block__list li:last-child {
  padding-block-end: 0.5rem; /* 8/16 */
}
.examples-block__inner {
  display: grid;
  column-gap: 1rem; /* 16/16 */
  grid-template-columns: 4.625rem 1fr;
}
.examples-block__image {
  align-self: start;
}
.examples-block__body {
}
.examples-block__content {
  display: flex;
  gap: 0.5rem; /* 8/16 */
  justify-content: space-between;
}
.examples-block__list--border-none li {
  border-block-end: inherit;
}
.examples-block__content {
  line-height: 1.63;
}
.examples-block__label {
  text-decoration: underline;
  text-underline-offset: 0.375rem;
  line-height: 1.75;
}
.examples-block__label.active {
  text-decoration: inherit;
}
.examples-block__text--synonyms {
  color: var(--footer-text-color);
}
.examples-block__notification {
  font-size: 0.75rem; /* 12/16 */
  line-height: 1.333;
  color: var(--footer-text-color);
}
.examples-block__notification--vs::before {
  content: 'vs';
  font-weight: 600;
  font-size: 0.75rem; /* 12/16 */
  line-height: 1.33;
  padding-inline: 0.375rem; /* 6/16 */
  padding-block: 0.125rem; /* 2/16 */
  color: var(--meanings-card-text);
  background: var(--meanings-card-rate-bg);
  margin-inline-end: 0.375rem; /* 6/16 */
}
.examples-block__notification--vs {
  color: var(--primary-text-color);
  font-size: 1rem; /* 16/16 */
  line-height: 1.63;
}
.examples-block__info {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.5rem;
}
.examples-block__footer {
  display: flex;
  align-items: center;
  column-gap: 0.5rem; /* 8/16 */
}
.examples-block__icon {
  flex-basis: 0.8125rem;
  flex-shrink: 0;
}
.examples-block__icon svg path {
  fill: var(--examples-image);
}
.examples-block__link a {
  font-size: 0.8125rem; /* 13/16 */
  line-height: 1.38;
  color: var(--meanings-card-text);
}
.examples-block__link a span {
  text-decoration: underline;
  text-underline-offset: 0.1875rem;
}
.examples-block__show {
  padding-block-start: 1rem; /* 16/16 */
}
.examples-block__show button {
  font-weight: 700;
  line-height: 1.38;
  border-radius: 6.25rem; /* 100/16 */
  padding-block: 0.75rem; /* 12/16 */
  padding-inline: 1.375rem; /* 22/16 */
  background: var(--swiper-arrow-bg);
  transition: background 0.3s;
}

.fast__title {
  font-size: 1.5rem; /* 24/16 */
  line-height: 1.33;
  font-weight: 600;
  margin-block-end: 0.5rem; /* 8/16 */
}
.fast__body {
  display: grid;
  grid-template-columns: 0.5rem 1fr;
  column-gap: 1.25rem; /* 20/16 */
}
.speed-side {
  position: relative;
  block-size: calc(100% - 1.25rem);
  align-self: center;
  border-radius: 6.25rem;
  background: linear-gradient(180deg, #d10000 0%, #ffb800 50%, #00a802 100%);
}
.speed-side__marker {
  position: absolute;
  inset-inline-start: -0.0625rem;
  inset-block-start: 5.6875rem;
  inline-size: 0.625rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--speed-mark-bg);
  border: 0.125rem solid var(--speed-mark-border);
}
.fast__row {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem; /* 16/16 */
  padding-block: 1rem; /* 17/16 */
}
.fast__line {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.625rem; /* 10/16 */
}
.fast__label {
  font-size: 1.0625rem; /* 17/16 */
  line-height: 1.29;
  text-decoration: underline;
  color: var(--meanings-title);
  text-underline-offset: 0.3125rem;
}
.fast__label.active {
  text-decoration: none;
  font-weight: 600;
  line-height: 1.63;
}
.fast__info {
  display: flex;
  align-items: center;
  column-gap: 0.5rem; /* 8/16 */
  justify-self: flex-end;
}
.fast__rate {
  padding-inline: 0.75rem; /* 12/16 */
}

.fast__arrow {
  inline-size: 1rem;
  block-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fast__arrow svg path {
  fill: var(--fast-line);
}
.fast__bg {
  block-size: 0.0625rem;
  background: var(--fast-line);
}

.surface__title {
  margin-block-end: 0.75rem; /* 12/16 */
}
.surface__list {
  color: var(--meanings-card-text);
  line-height: 1.63;
}
.surface__list li {
  display: flex;
  justify-content: space-between;
  column-gap: 0.5rem; /* 8/16 */
  padding-block: 0.5rem; /* 8/16 */
}
.surface__list li:first-child {
  padding-block-start: 0;
}
.surface__list li:last-child {
  padding-block-end: 0;
}
.surface__list li:not(:last-child) {
  border-block-end: 0.0625rem solid var(--swiper-arrow-bg-hover);
}
.surface__list strong {
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  color: var(--primary-text-color);
}
.etymology__title {
  margin-block-end: 1.25rem; /* 20/16 */
}
.etymology__text {
  line-height: 1.63;
}
.etymology__text u {
  text-underline-offset: 0.3125rem;
}
.etymology__text p:not(:last-child) {
  margin-block-end: 0.5rem; /* 8/16 */
}
.home-content__picture {
  position: relative;
  overflow: hidden;
}
.home-content__scroll {
  position: absolute;
  inset-inline-end: 1.375rem; /* 22/16 */
  inset-block-end: 2.9375rem; /* 47/16 */
  inline-size: 5.3125rem; /* 85/16 */
  aspect-ratio: 85 / 64;
}

@media (min-width: 767.98px) {
  .home-hero__container--grid {
    display: grid;
    gap: 1.5rem; /* 24/16 */
  }
  .home-hero {
    padding-block: 1.5rem 7.5rem;
  }
}
@media (min-width: 991.98px) {
  .home-hero__container--grid {
    grid-template-columns: 341fr 773fr 341fr;
    column-gap: clamp(1.5rem, 5.255vw - 1.755rem, 3.5rem); /* 24 > 56.5 991 > 1600 */
  }
  .home-content__picture {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .panel {
    display: none;
  }
  .home-content__picture,
  .home-content__section--margin-top {
    margin-inline: -1rem; /* -16/16 */
  }
  .home-content__section--margin-top {
    position: relative;
    margin-block-start: -1.5rem; /* 24/16 */
    padding-block-start: 1.5rem; /* 24/16 */
    padding-inline: 1rem; /* 16/16 */
    background: var(--primary-background-color);
    border-radius: 1.5rem;
  }
  .home-content__image {
    max-block-size: 25.125rem; /* 402/16 */
    inline-size: 100%;
    display: flex;
    align-items: flex-end;
  }
}
@media (max-width: 991.98px) and (min-width: 767.98px) {
  .home-hero__container--grid {
    grid-template-columns: 1fr 2fr;
  }
}
@media (max-width: 767.98px) {
  .home-hero {
    padding-block-end: 2rem; /* 32/16 */
  }
  .meanings {
    display: none;
  }
}
@media (max-width: 479.98px) {
  .examples-block__header,
  .fast__title,
  .examples-block__title,
  .surface__title,
  .etymology__title {
    font-size: 1.125rem; /* 18/16 */
    line-height: 1.33;
  }
  .examples-block__tags {
    line-height: 1.38;
  }
  .examples-block__inner {
    column-gap: 0.75rem; /* 12/16 */
  }
  .home-content__sentence {
    font-size: 1.125rem; /* 18/16 */
    line-height: 1.33;
  }
  .home-content__btn {
    inline-size: 100%;
  }
  .hero-swiper__text {
    font-size: 1.125rem; /* 18/16 */
    line-height: 1.33;
  }
  .swiper-actions {
    flex-wrap: wrap;
  }
  .swiper-actions__pagination {
    justify-self: center;
  }
  .swiper-actions__arrow {
    inline-size: 3rem; /* 48/16 */
  }
  .sounds {
    column-gap: 0.625rem; /* 10/16 */
  }
  .home-content__section--margin-bottom,
  .examples-block--margin-bottom,
  .fast--margin-bottom,
  .surface--margin-bottom,
  .home-content__hero-swiper,
  .home-content__sentence {
    margin-block-end: 1rem; /* 16/16 */
  }
  .hero-swiper__text,
  .swiper-actions,
  .examples-block,
  .fast,
  .surface {
    padding-inline: 0.75rem; /* 12/16 */
  }
  .surface {
    padding-block: 1rem; /* 16/16 */
  }
  .fast__title {
    margin-block-end: 1rem; /* 16/16 */
  }
  .examples-block--mobile-hide .examples-block__info {
    display: none;
  }
}
@media (any-hover: hover) {
  .panel__footer button:hover,
  .home-content__btn:hover {
    background: var(--primary-500);
  }
  .card-meanings__list li a:hover,
  .words__list li a:hover {
    background: var(--meanings-card-background-active);
  }
  .sounds__btn svg:hover path {
    fill: var(--primary-text-color);
  }
  .card-meanings__list li a:hover::before {
    opacity: 1;
    visibility: visible;
  }
  .swiper-actions__arrow:hover,
  .examples-block__show button:hover {
    background: var(--swiper-arrow-bg-hover);
  }
}
